<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}">

    <!-- Bootstrap core CSS -->
<link href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
      .style-name {
        text-decoration: none;
        color: #fff;
      }
      .style-name:hover {
        color: #6c757d;
      }
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/5.0/examples/cover/cover.css" rel="stylesheet">
  </head>
  <body class="d-flex h-100 text-center text-white bg-dark">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h2 class="float-md-start mb-0"><a class="style-name" href="{% url 'home' %}">Pet-Project</a></h2>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link active" aria-current="page" href="{% url 'api-root' %}" target="_blank">DRF</a>
        <a class="nav-link active" aria-current="page" href="{% url 'schema-swagger-ui' %}" target="_blank">Swagger</a>
          {% if not user.is_authenticated %}
        <a class="nav-link active" aria-current="page" href="{% url 'oauth' %}">OAuth</a>
          {% endif %}
          {% if user.is_authenticated %}
        <a class="nav-link active" aria-current="page" href="#">Logout</a>
          {% endif %}
      </nav>
    </div>
  </header>

  {% block main %}

  {% endblock %}

  <footer class="mt-auto text-white-50">
    <p>Contact me: <a class="style-name" href="https://www.linkedin.com/in/evgen-kovalev/" target="_blank">LinkedIn</a></p>
  </footer>
</div>

  </body>
</html>