{% extends 'base.html' %}
{% block robots %}index, follow{% endblock %}
{% block title %}Pet-project - Blog-News{% endblock %}
{% block description %}This is my pet-project on the Django Rest Framework. I hope you enjoy it :){% endblock %}

  {% block main %}

  <main class="px-3">
    <h1>Tech Stack</h1>
    <br>
    <p class="lead">Python, Poetry, Flake8, Django Rest Framework, Swagger, PostgreSQL, Docker, Docker Compose, Redis, Celery.</p>
    <p class="lead">See more information about this project in my GitHub.</p>
    <p class="lead">
      <a href="https://github.com/netscro/blog-news" target="_blank" class="btn btn-lg btn-secondary fw-bold border-white bg-white">GitHub</a>
    </p>
  </main>

  {% endblock %}
