<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>API Test</title>
    <meta name="robots" content="NONE,NOARCHIVE" />

<p id='list_of_articles'></p>

<script>

    var xmlhttp = new XMLHttpRequest();
    var url = "{% url 'post-list' %}"; <!-- Change to need url -->
    xmlhttp.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
            var myArr = JSON.parse(this.responseText);
            myFunction(myArr['results']);
        }
    };
    xmlhttp.open("GET", url, true);
    xmlhttp.send();

    function myFunction(arr) {
        var out = "";
        var i;
        for (i = 0; i < arr.length; i++) {
            out += arr[i].title.bold() + '<br>' + arr[i].article + '<br>' + arr[i].created_at + '<br>' + '<br>';
        }
        document.getElementById('list_of_articles').innerHTML = out;
    }




</script>


</head>
<body>

</body>
</html>